:root{
    --color--header: #101010;
    --color--body: #0e0e0e;
    --color--cBody: #202020;
    --color--black: #000;
    --color--light: #fff;

    --font--title: 'Kanit', sans-serif;
    --font--text: 'arial', sans-serif;
}